/* * {
    outline:3px solid red;
} */
.background {
    background-color: #aaacaf;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
}
h1 {
    color:#0040df;
}
nav {
    background-color: black;
    text-align: center;
}
li {
        color: white;
        display: inline-block;
        padding: 10px 20px;   
}
ul {
    list-style-type: none;
}
h2 {
    color:#0040df;
}
.card {
    background-color: white;
    padding: 15px;
    margin: 10px;
}
.bullet li {
    color: rgb(10, 9, 9);
    padding: 10px 20px;  
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}